.svn/
GsTLAppli/.metadata/
GsTLAppli/actions/debug/
GsTLAppli/actions/release/
GsTLAppli/actions/x64/
GsTLAppli/appli/debug/
GsTLAppli/appli/release/
GsTLAppli/appli/x64/
GsTLAppli/extra/gui/debug/
GsTLAppli/extra/gui/release/
GsTLAppli/extra/gui/x64/
GsTLAppli/extra/qtplugins/debug/
GsTLAppli/extra/qtplugins/release/
GsTLAppli/extra/qtplugins/x64/
GsTLAppli/extra/qwt/debug/
GsTLAppli/extra/qwt/release/
GsTLAppli/extra/qwt/x64/
GsTLAppli/filters/debug/
GsTLAppli/filters/release/
GsTLAppli/filters/x64/
GsTLAppli/geostat/debug/
GsTLAppli/geostat/x64/
GsTLAppli/grid/debug/
GsTLAppli/grid/release/
GsTLAppli/grid/x64/
GsTLAppli/gui/debug/
GsTLAppli/gui/release/
GsTLAppli/gui/x64/
GsTLAppli/main/debug/
GsTLAppli/main/release/
GsTLAppli/main/x64/
GsTLAppli/math/debug/
GsTLAppli/math/release/
GsTLAppli/math/x64/
GsTLAppli/utils/debug/
GsTLAppli/utils/release/
GsTLAppli/utils/x64/
WinGsTLAppli/theplugin/Release/
lib/win32/
GsTLAppli/geostat/release/
lib/x64/
